recursive-include src *.zcml
recursive-include src *.pt
recursive-include src *.css
recursive-include src *.txt
recursive-include src *.pot
recursive-include src *.po
recursive-include src *.mo
include version.txt
include version.txt.in
include CHANGES.txt
include GPL.txt
include base.cfg
include buildout.cfg
include bootstrap.py
