/* styles for the gradebook */

.gradebook TABLE.data {
   border-spacing: 0px;
}

.gradebook TABLE.data TD
{
  border-left: 1px solid #BBB;
}

.gradebook TD span.today {
   background-color: #EAFAE3;
}

.gradebook TABLE.data TD.selected-column
{
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
}

.gradebook TABLE.data TD.selected-cell
{
  border: solid 1px #000;
}

.gradebook TABLE.data TD.selected-row
{
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

div.gradebook_content {
    float: left;
}

div.gradebook_legend {
    float: right;
}

.gradebook_legend h3 {
    padding-left: .5ex;
}

.gradebook_legend table th {
    padding: .5ex;
    background: #cccccc;
}

.gradebook_legend table td {
    padding: .5ex;
    background: #eeeeee;
}
