/* styles for the gradebook */

.gradebook TABLE.data {
   border-spacing: 0px;
   border-collapse: separate;
}

.gradebook TABLE.data TD
{
  border-left: 1px solid #BBB;
}

.gradebook TD span.today {
   background-color: #EAFAE3;
}

.gradebook TABLE.data TD.selected-column
{
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
}

.gradebook TABLE.data TD.selected-cell
{
  border: solid 1px #000;
}

.gradebook TABLE.data TD.selected-row
{
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
