/* styles for the gradebook */

.gradebook TABLE.data {
   border-spacing: 0px;
   border-collapse: separate;
}

.gradebook TABLE.data COL
{
  background-color: #666;
}

.gradebook TABLE.data TD
{
  border-left: solid 1px #BBB;
}

.gradebook TD span.today {
   background-color: #EAFAE3;
}

.gradebook TABLE.data TD.selected-column
{
  border-left: dashed 1px #000;
  border-right: dashed 1px #000;
}

.gradebook TABLE.data TD.selected-row
{
  border-top: dashed 1px #000;
  border-bottom: dashed 1px #000;
}
